@font-face {
  font-family: Mathlete;
  src: url(assets/Mathlete-Bulky.otf);
}

.headerdiv {
  width: 93%;
  padding: 60px;
  padding-top: 10px;
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  width: 100%;
}
.header {
  display: inline-block;
  width: 100%;
  height: 20px;
  padding-top: 30px;
  font-size: 110px;
  font-family: Mathlete;
}

#title {
  width: 90%;
  display: inline-block;
}

#icon {
  float: right;
  width: 150px;
}

.navicon {
  width: 50px;
}

.downloadicon {
  width: 70px;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  width: 100%;
}

.navelement {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}

.navelement:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navelement.active {
  background-color: #04aa6d;
  color: white;
}

footer {
  width: 100%;
  font-family: Mathlete;
  font-size: 40px;
  padding: 20px;
  padding-top: 5px;
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer p {
  height: 20px;
}

.searchbardiv {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 150px;
  border: solid #56ccf2;
}
.searchbar {
  margin: auto;
  width: 40%;
  padding: 90px;
  padding-top: 250px;
  display: inline-block;
}

#console {
  width: 100%;
  padding: 40px 20px;
  border: 5px solid #56ccf2;
  border-radius: 8px;
  font-size: 40px;
}

#console:focus {
  border: 5px solid #14b7ee;
}

#consoletyper {
  font-family: Mathlete;
  padding-left: 70px;
  font-size: 60px;
}

.command1 {
  color: red;
}

.command2 {
  color: green;
}

.command3 {
  color: orange;
}

table {
  width: 100%;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

tr {
  font-size: 19px;
}

#tableheader {
  font-size: 35px;
  font-family: Mathlete;
  background-color: grey;
}

.topicsCell {
  font-size: 19px;
}

.authorDetails {
  width: 100%;
  border: 5px solid #56ccf2;
  border-radius: 8px;
}

.authorButton {
  font-size: 15px;
}

.tooltiptext {
  visibility: hidden;
  width: 350px;
  height: 30px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 20px;

  /* Position the tooltip */
  position: absolute;
  right: 700px;
  z-index: 1;
}

.hintslist:hover .tooltiptext {
  visibility: visible;
}

.hints {
  text-align: center;
  font-family: Mathlete;
  font-size: 35px;
  border: 5px solid black;
  background: grey;
  border-radius: 10px;
  width: 600px;
  float: right;
  line-height: 0.7;
  margin-right: 20px;
}

.hintvariable {
  color: orange;
}

#resultwindow {
  padding: 30px;
}

.download {
  background: #56ccf2;
  width: 300px;
  height: 300px;
  border: 4px solid #2f80ed;
  border-radius: 50px;
  padding: 70px;
  margin: 50px;
  margin-left: 10px;
  text-align: center;
}

.downloadTitle {
  font-family: Mathlete;
  font-size: 60px;
}

.downloadButton {
  background-color: greenyellow;
  border: 4px solid green;
  width: 300px;
  height: 50px;
  text-align: center;
  margin: auto;
}

.downloadText {
  text-align: center;
  padding: 20px;
  font-family: Mathlete;
  font-size: 40px;
}
